<div class="container">
    <div class="title">
        <h1>Abrir reclamo</h1>
        <p>No. Reclamo</p>
        <br>
    </div>
    <section>

        <div class="wrap">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Claro.svg" id="claroLogo">

            <input type="checkbox" id="openClaro" value="1">

            <input type="text" id="caseNumber" placeholder="Ejemplo: 1235224">

            <button id="caseButton">Aceptar</button>
        </div>


    </section>

</div>